Table {
    counter-reset: rowNumber;
}

Table tr {
    counter-increment: rowNumber;
}

Table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.display-container {
    margin-top: 20px;
}