.image {
    position: relative;
}



.restaurant-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.reservation-form {
    text-align: justify;
    position: relative;
}
